<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#136D71"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="/assets/ptc.css" media="screen"/>
        
        <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

        <title>Peer Teacher Web Portal</title>
    </head>
    
    <body>
        <header>Currently Available</header>
    </body>
</html>

