<div class="container-fluid text-center">
  <a id="back button" class="btn-link" onclick="return showPTDiv()">Go Back</a>
  <a id="cancel button" class="btn-link" onclick="return showCancelForm()">Cancel Hours</a>
  <a id="schedule button" class="btn-link" onclick="return showScheduleForm()">Schedule Hours</a>
</div>

<div id="cancel form">
  <%= render 'cancel_hours' %>
</div>

<div id="schedule form" style="display: none;">
  <%= render 'schedule_hours' %>
</div>