<h1>ModelMailer#new_record_notification</h1>

<p>
 A new record has been added  <%= @record %> To Approve Respond with  "Yes", to Deny respond with "NO" , Any emails that do not receive approval or denial 
will be automatically approved in 24 hrs. 

</p>
