html, body {
	background-color: #262626;
	font-family: 'Open Sans';
	height: 100%;
	width: 100%;
}

header {
  color: #BFBFBF;
  font-family: 'Open Sans';
}

sub-header {
	font-size:24px;
	font-family: 'Open Sans';
	color: #BFBFBF;
}

text {
	font-size:18px;
	font-family: 'Open Sans';
	color: #BFBFBF;
}

label {
	font-size:18px;
	font-family: 'Open Sans';
	color: #BFBFBF;
}

tab {
  margin-left:4em
}

small-tab {
  margin-left:2em
}

.btn-link {
	background-color: #262626;
	font-size:16px;
	font-family: 'Open Sans';
	color:#BFBFBF;
	padding: 2px 5px;
	border-radius: 2px;
	text-decoration: none;
	
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-link:hover {
  background-color: #BFBFBF; 
  color:#0D0D0D;
  text-decoration: none;
	border-collapse: separate;
}

.bar-btn {
	width: 50%;
  margin: 16px;
	background-color: #0D0D0D;
	font-size:16px;
	font-family: 'Open Sans';
	color:#BFBFBF;
	padding: 5px 5px;
	border-radius: 2px;
	text-decoration: none;
	
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.bar-btn:hover {
  background-color: #262626; 
  color:#BFBFBF;
  text-decoration: none;
	border-collapse: separate;
}

container {
  background-color: #0D0D0D;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

textarea {
  width: 30%;
  background-color: #BFBFBF;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #262626;
}

input[type=text] {
	width: 15%;
	margin: 8px;
	background-color: #BFBFBF;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #262626;
}

input[type=submit] {
  width: 50%;
  margin: 16px;
  background-color: #0D0D0D;
  color: #BFBFBF;
  font-family: 'Open Sans';
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* panels */
.panel-primary {
  border:none;
}

.panel {
  margin-bottom: 20px;
  box-shadow: none;
  color: #BFBFBF;
  background-color: #262626;
}

.panel img{
  margin-top: 25px;
}

/* flex */
.row-flex {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

/* navbar */
.navbar {
  color:#BFBFBF;
	background-color: #262626;
}

/* dropdown */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-toggle, .navbar-toggle collapsed {
  border: none;
  background-color: #262626;
}

.navbar-default .navbar-nav li a {
	color: #BFBFBF;
	font-weight: 300;
	font-family: 'Open Sans';
	text-decoration: none;
}

.navbar-default .navbar-nav li a:hover {
  background-color: #BFBFBF; 
  color:#0D0D0D;
  font-family: 'Open Sans';
  text-decoration: none;
  cursor: pointer;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #BFBFBF;
}

.dropdown-menu.columns-3 {
	min-width: 200px;
	color:#BFBFBF;
	background-color: #262626;
}

.dropdown-menu li a {
	padding: 2px 25%;
	color: #BFBFBF;
	font-weight: 300;
	font-family: 'Open Sans';
	text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #BFBFBF; 
  color:#0D0D0D;
  font-family: 'Open Sans';
  text-decoration: none;
}


.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}

.multi-column-dropdown li a {
  text-align: left;
	display: block;
	clear: both;
	color: #BFBFBF;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	text-align: left;
	color: #262626;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}